/* Fonts import form GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0%;
}

/* Header Style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 220px 50px 230px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    color: #131313;
    text-align: center;
    font-size: 38px;
    font-weight: 700;
}

.nav-list {
    display: flex;

}

.li {
    list-style: none;
    padding-left: 15px;
    margin-top: 15px;
}

nav a {
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* Banner Styles */

.banner-title {
    color: #131313;
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    padding-top: 90px;
}

.banner-p,
.feature-p,
.card-p {
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}

.btn {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;

    font-size: 20px;

    font-weight: 600;
    border: none;
    width: 180px;
    height: 64px;
    margin: 20px 300px;

}

.banner-img {
    width: 100%;
}

/* Main Styles */
/* Team Styles */
.team-container {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 50px 270px;
}

.team-img>img {
    width: 182px;
    height: 182px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.btn2 {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;

    font-weight: 600;
    border: none;
    width: 180px;
    height: 44px;
}

.team-title {
    color: #727272;
    font-size: 38px;
    font-weight: 500;
}

.team-title-middle {
    color: #131313;
}

.team-title-last {
    color: #FF900E;
}

.team-p {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Feature Styles */
.feature {
    display: flex;
    /* justify-content: space-around; */
    gap: 100px;
    margin-left: 140px;
    margin-right: 240px;
}

.feature-title {
    color: #131313;
    font-size: 40px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature-container .feature-p {
    text-align: start;
    margin-bottom: 30px;
}

.card {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    gap: 20px;
    width: 486px;
    height: 147px;
    margin-bottom: 20px;

}

.card-title {
    color: #131313;
    font-size: 20px;
    font-weight: 600;
    padding-top: 30px;
    padding-left: 30px;
}

.card .card-p {
    text-align: start;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.feature-img>img {
    width: 450px;
    height: 800px;

}

.exp {
    border-radius: 8px;
    background: #FF900E;
    width: 242px;
    height: 100px;
    text-align: center;
    position: relative;
    bottom: 50px;
    right: 80px;
}

.exp h2 {
    color: #FFF;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 20px;
}

.exp p {
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    padding: 0px 10px 10px 10px;
}

/* Facts Style */
.facts-container {
    margin: 150px 110px 50px 140px;
}

.facts-container .feature-title {
    text-align: start;
    padding-left: 0px;
    border-left: none;
}

.facts-container .feature-p {
    text-align: start;
}


.facts-card-container {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    text-align: center;
}

.facts-card {
    width: 850px;
    height: 155px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    margin-top: 70px;
    margin-left: 40px;
}

.facts-card img {
    text-align: center;
    margin-top: 25px;
    width: 30%;
}

.facts-card h3 {
    color: #424242;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 7px;

}

.facts-card p {
    color: #727272;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;

}

/* Sponsor Styles */
.sponsors .feature-title {
    text-align: center;
    padding-left: 0px;
    border-left: none;
}

.sponsors {
    margin-top: 100px;
}

.sponsors-img {
    margin: 50px 250px;
    display: flex;
    justify-content: space-around;
    gap: 90px;
    text-align: center;
    padding-left: 120px;
    padding-right: 80px;
}

.sponsors-img img {
    width: 100px;
    height: 50px;

}
/* Footer Styles */
footer{
    border-radius: 8px;
        background: #FFF4E7;
        margin: 130px 100px 200px 240px;
        width: 800px;
            height: 70px;
            text-align: center;
            
}
.footer-p{
    color: #424242;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        padding-top: 28px;
        padding-bottom: 40px;
}

/* Responsive Media */
/* For Small Device */
@media screen and (max-width:576px) {
    header {
        padding: 10px;
    }

    .header-container,
    .team-container,
    .feature {
        flex-direction: column;
    }

    .nav-title,
    .team-title {
        font-size: 28px;
    }

    nav a {
        font-size: 17px;
        text-align: center;
    }

    .banner-title {
        font-size: 35px;
        padding-top: 45px;
    }

    .btn {
        font-size: 15px;
        width: 140px;
        height: 50px;
        margin: 20px 109px;
    }

    .team-img {
        grid-template-columns: 1fr;
    }

    .team-container {

        flex-direction: column-reverse;
        padding: 50px 50px;
    }

    .btn2 {
        font-size: 15px;
        width: 140px;
        height: 50px;
    }

    .feature {
        gap: 50px;
        margin-left: 40px;
        margin-right: 140px;
    }

    .feature-title {
        padding-top: 0px;
        font-size: 30px;
    }

    .card {
        width: 300px;
        height: 187px;
    }

    .card .card-title .card-p {
        padding-left: 10px;
        padding-right: 10px;
    }

    .feature-img>img {
        width: 230px;
        height: 500px;
        margin-left: 60px;

    }

    .exp {

        width: 120px;
        height: 70px;
        position: relative;
        bottom: 50px;
        right: 5px;
    }

    .exp h2 {

        font-size: 25px;
        padding-top: 10px;
    }

    .facts-container {
        margin: 20px;
    }

    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        text-align: center;
    }

    .facts-card {
        width: 120px;
        height: 70px;
        border-radius: 8px;
        border: 1px solid #FF900E;
        margin-top: 50px;
        margin-left: 20px;
    }

    .facts-card img {
        text-align: center;
        margin-top: 10px;
        width: 10%;
    }

    .facts-card h3 {
        color: #424242;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        padding-top: 5px;
        padding-bottom: 3px;

    }

    .facts-card p {
        color: #727272;
        text-align: center;
        font-size: 9px;
        font-weight: 600;
        padding-bottom: 15px;

    }

    .sponsors-img {
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        position: relative;
        right: 220px;
    }
        footer {
            margin: auto;
            width: 320px;
            height: 70px;
            margin-bottom: 50px;
    
        }
                .footer-p {
                    font-size: 12px;
                    padding-top: 20px;
                    
                }
}


/* For Medium Device */
@media screen and (min-width:576.01px) and (max-width:992px) {
    header {
        padding: 10px 25px 15px 1px;

    }

    .header-container {
        /* flex-direction: column; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-title {
        font-size: 32px;
        padding-top: 18px;
    }

    .nav-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    nav a {
        font-size: 17px;
    }

    .banner-title {
        font-size: 35px;
        padding-top: 45px;
    }

    .btn {
        font-size: 15px;
        width: 140px;
        height: 50px;
        margin: 20px 350px;
    }

    .banner-img {
        width: 90%;
        padding-left: 50px;
    }

    .team-container {
        padding: 50px 50px;
    }

    .feature {

        flex-direction: column;
        gap: 50px;
        align-items: center;
        margin-left: 30px;
        margin-right: 40px;
        margin-top: 20px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card {
        width: 340px;
        height: 207px;
        margin-right: 10px;
    }


    .feature-img>img {
        width: 330px;
        height: 550px;
        margin-left: 60px;

    }

    .exp {

        width: 100px;
        height: 60px;
        position: relative;
        bottom: 30px;
        right: -10px;
    }

    .exp h2 {

        font-size: 15px;
        padding-top: 10px;
    }

    .facts-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;
        text-align: center;
    }

    .facts-card {
        width: 200px;
        height: 100px;
        border-radius: 8px;
        border: 1px solid #FF900E;
        margin-top: 50px;
        margin-left: 20px;
    }

    .facts-card img {
        text-align: center;
        margin-top: 15px;
        width: 15%;
    }

    .facts-card h3 {
        color: #424242;
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        padding-top: 5px;
        padding-bottom: 3px;

    }

    .facts-card p {
        color: #727272;
        text-align: center;
        font-size: 9px;
        font-weight: 600;
        padding-bottom: 15px;

    }

    .sponsors-img {
        display: flex;
        flex-direction: row;
        margin-right: 325px;
        gap: 50px;
        text-align: center;
        position: relative;
    }
        footer {
            margin: auto;
            width: 620px;
            height: 70px;
            margin-bottom: 50px;
    
        }
    
        .footer-p {
            font-size: 14px;
            padding-top: 25px;
    
        }
}